---
import DiscordPresence from '@/components/bento/DiscordPresence.tsx'
import GithubCalendar from '@/components/bento/GithubCalendar.tsx'
import Container from '@/components/Container.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import Analytics from '@vercel/analytics/astro'
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <!-- Main container holding all content -->
  <Container class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">

    <!-- Spacer (this adds the space between the topbar and the content) -->
    <div class="col-span-full h-16 bg-[var(--muted)] dark:bg-[var(--secondary)]"></div>

    <!-- Discord Presence Section -->
    <div class="w-full h-full min-h-[200px] max-w-sm mx-auto rounded-xl border bg-background">
      <div class="p-4 h-full">
        <section class="h-full">
          <div class="relative overflow-hidden h-full">
            <DiscordPresence client:load />
          </div>
        </section>
      </div>
    </div>
    
    <!-- Github Calendar Section -->
    <div class="w-full h-full min-h-[200px] max-w-sm mx-auto rounded-xl border bg-background">
      <div class="p-4 h-full">
        <section class="h-full">
          <div class="has-overlay relative flex h-full items-center justify-center overflow-hidden hover:bg-none">
            <GithubCalendar username="Omarplayz233" client:load />
          </div>
        </section>
      </div>
    </div>

    <Analytics/>
  </Container>
</Layout>

