---
import DiscordPresence from '@/components/bento/DiscordPresence.tsx'
import GithubCalendar from '@/components/bento/GithubCalendar.tsx'
import WakatimeGraph from '@/components/bento/WakatimeGraph.tsx'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

// Fetch the blog collection, excluding drafts, sorting by date, and limiting the number of posts
const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <!-- Main container holding all content -->
  <Container class="flex flex-col gap-y-6">

    <!-- Spacer (this adds the space between the topbar and the content) -->
    <div class="h-16 bg-[var(--muted)] dark:bg-[var(--secondary)]"></div><!-- Adjust h-8 to whatever height you need for the space -->

    <!-- Discord Presence Section -->
    <section>
      <div class="relative overflow-hidden [grid-area:d] sm:aspect-square">
        <DiscordPresence client:load />
      </div>
    </section>

    <!-- Github Calendar Section -->
    <section>
      <div
        class="has-overlay relative flex aspect-square items-center justify-center overflow-hidden [grid-area:f] hover:bg-none sm:aspect-[2.1/1] xl:aspect-auto xl:bg-[url('/static/bento/contributions-silhouette.webp')]"
      >
        <GithubCalendar username="Omarplayz233" client:load />
      </div>
    </section>
  </Container>
</Layout>

