---
import { TbBrandBluesky, TbBrandGithub, TbBrandDiscord, TbMail, TbRss, TbArrowUp } from 'react-icons/tb';

const socialLinks = [
  {
    href: "https://bsky.app/profile/omarplayz.eu.org",
    ariaLabel: "Bluesky",
    Icon: TbBrandBluesky
  },
  {
    href: "https://github.com/Omarplayz233",
    ariaLabel: "GitHub",
    Icon: TbBrandGithub
  },
  {
    href: "https://discord.com/users/756529025719074846",
    ariaLabel: "Discord",
    Icon: TbBrandDiscord
  },
  {
    href: "mailto:hi@dev.omarplayz.eu.org",
    ariaLabel: "Email",
    Icon: TbMail
  },
  {
    href: "https://omarplayz.eu.org/rss.xml",
    ariaLabel: "RSS",
    Icon: TbRss
  }
];
---

<footer class="fixed bottom-0 left-0 right-0 flex items-center justify-center pb-4 z-40">
  <div class="w-auto flex items-center justify-center rounded-xl border border-white/20 bg-gray-800 p-1 shadow-lg backdrop-blur-lg bg-white/10">
    {socialLinks.map(({ href, ariaLabel, Icon }) => (
      <a
        href={href}
        target="_blank"
        rel="noopener noreferrer"
        class="flex h-8 w-8 items-center justify-center rounded-lg text-foreground dark:text-white transition-colors ease-in-out hover:bg-gray-200 dark:hover:bg-gray-700"
        aria-label={ariaLabel}
      >
        <Icon size={18} />
      </a>
    ))}
  </div>
</footer>

<button
  id="scroll-to-top"
  class="fixed bottom-[-100px] right-8 z-50 flex h-10 w-10 items-center justify-center rounded-xl border border-white/20 bg-gray-800 shadow-lg backdrop-blur-lg bg-white/10 text-white transition-all duration-300 ease-in-out hover:bg-gray-700/70"
  aria-label="Scroll to top"
>
  <TbArrowUp size={20} />
</button>

<script>
  document.addEventListener('astro:page-load', () => {
    const scrollToTopButton = document.getElementById('scroll-to-top');

    if (scrollToTopButton) {
      const toggleScrollToTopButton = () => {
        if (window.scrollY > 300) {
          scrollToTopButton.style.transform = 'translateY(-120px)';
          scrollToTopButton.style.opacity = '1';
        } else {
          scrollToTopButton.style.transform = 'translateY(0)';
          scrollToTopButton.style.opacity = '0';
        }
      };

      window.addEventListener('scroll', toggleScrollToTopButton);

      scrollToTopButton.addEventListener('click', () => {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      });
    }
  });
</script>

